.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    background-color: var(--widget-color);
}

.header-logo {
    width: 250px;
}

.header-content {
    display: flex;
    flex: 1;
    justify-content: center;
}

.header-content span {
    margin: 0 35px;
    cursor: pointer;
}

.header-content span:hover {
    color: blue;
}

.manu-icon {
    display: none;
}

.manu {
    display: none;
}
@media screen and (max-width: 1010px) {
    .header-content span {
        margin: 0 25px;
    }
}

@media screen and (max-width: 610px) {
    .manu {
        display: block;
    }

    .header-content {
        display: none;
    }
    .manu-content {
        display: flex;
        position: absolute;
        flex-direction: column;
        z-index: 1;
        height: 260px;
        justify-content: space-around;
        top: 10px;
        right: 10px;
        background: beige;
        width: 190px;
        overflow: hidden;
    }
    .manu-content span {
        margin: 0px;
        display: block;
        width: 100%;
        padding-left: 20px;
        height: 32px;
        padding-top: 10px;
        cursor: pointer;

    } 
    
    .manu-content span:hover {
        background: burlywood;
    }

    .manu-icon {
        display: block;
        cursor: pointer;
    }
}