.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: var(--widget-color);
    padding: 0 10px;
}

.footer-right {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icon {
    width: 50%;
}