
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 15px;
  width: 120px;
  height: 32px;
  border-radius: 5px;
}
.primary-btn {
    color: var(--white);
    border: 2px solid linen;
    font-size: 12px;
    background-color: #c750da;
    
  }
  
.primary-btn:hover {
    color: aliceblue;
    border: 1px solid black;
    background-color: #697aeb;
    cursor: pointer;
  }
  
.secondary-btn {
    color: var(--white);
    background-color: #bd4520;
    border: 1px solid white;
  }

  .secondary-btn:hover {
    border: 1px solid black;
    background-color: #697aeb;
  }