.indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indicator h2 {
    margin: 0;
}
.page-indicator {
    margin: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    position: relative;
}
.indicator-line {
    width: 20%;
    height: 2px;
    background: blue;
}
.indicator-line-pointer {
    width: 5%;
    height: 8px;
    background: red;
    border-radius: 2px;
    position: absolute;
    top: -3px;
}