.boi-container {
    margin-top: 50px;
}

.bio-parent {
    /* background-color: var(--widget-color); */
    color: wheat;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.bio-picture {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bio-image {
    width: 350px;
    height: 450px;
    border-radius: 10px;
}

.bio-content {
    width: 45%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.basic-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
.basic-detail div {
    flex: 1;
}

.basic-detail h2 {
    margin: 0;
    font-size: 18px;
}

.basic-detail span {
    font-size: 12px;
}
.bio-headline {
    font-size: 14px;
    margin-top: 20px;
    padding: 25px;
    padding-left: 0;
    /* border: 1px solid white; */
}
.indicator {
    color: white;
}

@media screen and (max-width: 910px) {
    .bio-content {
        width: 50%;
    }
}

@media screen and (max-width: 910px) {
    .bio-parent {
        position: relative;
    }
    .bio-image {
        width: 850px;
        height: 650px;
    }
    .bio-picture {
        width: 100%;
        opacity: 0.25;
    }
    .bio-content {
        position: absolute;
        width: 500px;
        top: 40px;
        left: 50%;
        transform: translate(-50%) !important;

    }
}

@media screen and (max-width: 610px) {
    .bio-content {
        width: 400px;
        top: 30px;
    }
}

@media screen and (max-width: 480px) {
    .bio-content {
        width: 300px;
        top: -20px;
    }
    .bio-image {
        height: 750px;
    }
}